In [1]:
print('Hello World')

Hello World

In [4]:
if 5>2:
    print('5 greater than 2');

5 greater than 2

In [5]:
x =5;
y = 'Hello World';

In [8]:
#This is a comment

In [12]:
# multi line comment --> cTRL+/

In [13]:
x,y,z = "first",'second','third'

In [19]:
print(x)
print(y)
print(z)

first
second
third

In [20]:
print('x is '+x)

x is first

In [22]:
print (x+' '+y)

first second

In [23]:
def myfunc():
    print('x='+x)
    
myfunc()

x=first

In [26]:
def myfunc1():
    global a
    a='two'
    
myfunc1()
print('a='+a)

a=two

In [27]:
#python datatypes
# Text Type:	str
# Numeric Types:	int, float, complex
# Sequence Types:	list, tuple, range
# Mapping Type:	dict
# Set Types:	set, frozenset
# Boolean Type:	bool
# Binary Types:	bytes, bytearray, memoryview

In [39]:
#x=5
#x='hello'
#x=0.5
#x=3+4j
#x=['one','two']
#x=('one','two')
#x={'one','two'}
#x=range(5)
#x={'1':'one'}
#x=True
print(type(x))

<class 'bool'>

In [40]:
x=str('hello')

In [42]:
print(x)

hello

In [49]:
x = 1.0

In [50]:
print(type(x))

<class 'float'>

In [51]:
x=35e2
print(x)

3500.0

In [52]:
print(type(x))

<class 'float'>

In [56]:
x=0j
print(type(x))

<class 'complex'>

In [57]:
a=2
b=3.5
x=float(a)
print(a+b)

5.5

In [58]:
print(type(x))

<class 'float'>

In [71]:
import random
print(random.randrange(1,100))

87

In [73]:
x=5
x=float(x)

In [74]:
print(x)

5.0

In [77]:
#casting
x=1.99
print(int(x))

1

In [79]:
x='2'
print(int(x))

2

In [82]:
#First character has position 0
a = ['1','2']
print(a[1])

2

In [86]:
a='Hello'
print(a[1])

e

In [88]:
print(a[2:5])

llo

In [90]:
print(a[-2:-5])

In [91]:
print(len(a))

5

In [97]:
a = '     Hello       '
print(a.strip())

Hello

In [98]:
a='HeLLo'
print(a.lower())
print(a.upper())

hello
HELLO

In [99]:
print(a.replace('L','l'))

Hello

In [101]:
a = 'Hello,World'
print(a.split(","))

['Hello', 'World']

In [103]:
a = 'hello, how are you?'
#x = 'how' in a
x = 'how' not in a
print(x)

False

In [105]:
a='qwerty'
b='asdfgh'
print(a+" "+b)

qwerty asdfgh

In [108]:
"My name is Abhishek and I am using a "+a+" keyboard"

'My name is Abhishek and I am using a qwerty keyboard'

In [110]:
a=26
x='I am {}'
x.format(a)

'I am 26'

In [134]:
a=26
b=30
c=34
x="{}<{}<{}"
x.format(a,b,c)

'26<30<34'

In [126]:
a= "We are the so-called \"Vikings\" from the north."
print(a)

We are the so-called "Vikings" from the north.

In [127]:
#escape characters
# \'	Single Quote	
# \\	Backslash	
# \n	New Line	
# \r	Carriage Return	
# \t	Tab	
# \b	Backspace

In [132]:
a.endswith(".")

True

In [133]:
print(len(a))

46

In [137]:
a=26
b=30
c=34
if (b>a):
    print('b is greater than a')
else:
    print('b is less than a')

b is greater than a

In [138]:
print(bool(a))

True

In [140]:
def c():
    return True

c()

True

In [141]:
print(10*5)

50

In [158]:
list = ['one','two','three']
print(list)
print(list[2])

['one', 'two', 'three']
three

In [159]:
list[1] = 'four'

In [160]:
print(list)

['one', 'four', 'three']

In [161]:
for x in list:
    print(x)

one
four
three

In [165]:
if "four" in list:
    print('Yes four is present')

Yes four is present

In [166]:
print(len(list))

3

In [167]:
list.append('five')
print(list)

['one', 'four', 'three', 'five']

In [168]:
list.insert(3, 'six')

In [169]:
print(list)

['one', 'four', 'three', 'six', 'five']

In [170]:
list.remove('three')

In [171]:
print(list)

['one', 'four', 'six', 'five']

In [172]:
list.pop(2)

'six'

In [173]:
print(list)

['one', 'four', 'five']

In [174]:
print(list[1])

four

In [1]:
name = input("Enter your name: ")
print("Hello " + name + "!")

Enter your name: Abhishek
Hello Abhishek!

In [7]:
x = input("Enter 1st number: ")
y = input("Enter 2nd number: ")
z = float(x)+float(y)
print(z)

Enter 1st number: 4
Enter 2nd number: 5
9.0

In [10]:
color = input("Enter a color: ")
print("Roses are "+color)

Enter a color: red
Roses are red
Roses are {color}

In [39]:
# list
friends = ["kevin", "karen", "jim", "oscar", "toby"]

In [13]:
friends[0]

'kevin'

In [14]:
friends.index('kevin')

0

In [15]:
friends[-1]

'jim'

In [17]:
friends[1:3]

['karen', 'jim']

In [18]:
friends[1] = 'Mike'

In [19]:
friends[1:3]

['Mike', 'jim']

In [20]:
num = [1,2,3,4]
friends.append(num[1:])

In [21]:
friends

['kevin', 'Mike', 'jim', [2, 3, 4]]

In [22]:
friends.insert(1, "abhi")

In [23]:
friends

['kevin', 'abhi', 'Mike', 'jim', [2, 3, 4]]

In [24]:
# extend
# append
# remove
# insert
# clear
# pop
# sort
# reverse
# copy
friends.index('kevin')

0

In [25]:
friends.count('jim')

1

In [28]:
friends.pop()

[2, 3, 4]

In [29]:
friends

['Mike', 'abhi', 'jim', 'kevin']

In [40]:
friends.sort()
print(friends)

['jim', 'karen', 'kevin', 'oscar', 'toby']

In [41]:
friends2 = friends.copy()

In [42]:
friends2

['jim', 'karen', 'kevin', 'oscar', 'toby']

In [45]:
# tuples
tuple = ('one', 'two', 'three')

In [46]:
tuple

('one', 'two', 'three')

In [56]:
# function
def say_hi():
    print('Hello')
    
say_hi()

Hello

In [57]:
def sum(x,y):
    z=x+y
    return z

sum(3,4)

7

In [66]:
is_male = True
is_tall = False

if is_male and is_tall:
    print('male and tall')
elif is_male and not(is_tall):
    print('male and not tall')
else:
    print('condition doesn\'t meet')

male and not tall

In [68]:
def max_num(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        print('Num1 is max')
    elif num2 >= num1 and num2 >= num3: 
        print('Num2 is max')
    else:
        print('Num3 is max')

max_num(1,6,8)

Num3 is max

In [70]:
num1 = float(input("Enter num1: "))
op = input("Enter operator: ")
num2 = float(input("Enter num2: "))

if op == '+':
    print(num1 + num2)
elif op == '-':
    print(num1 - num2)
elif op == '*':
    print(num1 * num2)
elif op == '/':
    print(num1 / num2)
else: 
    print('Invalid Operator')

Enter num1: 4
Enter operator: /
Enter num2: 2
2.0

In [81]:
# Dictionaries
dict = {1:'one',2:'two'}

In [83]:
dict[1]

'one'

In [84]:
# while loop
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [86]:
secret_word = 'giraffe'
guess = ''
guess_count = 0
guess_limit = 3
out_of_guesses = False

while guess != secret_word and not(out_of_guesses):
    if guess_count < guess_limit:
        guess = input("Enter guess: ")
        guess_count += 1
    else:
        out_of_guesses = True
        
if out_of_guesses:
    print('out of guesses, you lose!')
else:
    print('you win!!!')

Enter guess: qwertyjh
Enter guess: qwert
Enter guess: qwert
out of guesses, you lose!

In [88]:
# for loop
alphabet = ['a','b','c']
for friend in friends:
    print(friend)

jim
karen
kevin
oscar
toby

In [99]:
for i in range(len(alphabet)):
    print(alphabet[i])

a
b
c

In [101]:
for i in range(2,5):
    if i == 0:
        print(i)
    else:
        print(i*i*i)

8
27
64

In [121]:
# 2d list and nested loops
number_grid = [[1,2,3],[4,5,6],[7,8,9],[0]]

print(number_grid[0][2])

for row in number_grid:
    for col in row:
        print(col)

3
1
2
3
4
5
6
7
8
9
0

In [126]:
def translate(phrase):
    translation = ""
    for letter in phrase:
        if letter in "AEIOUaeiou":
            translation = translation + "g"
        else:
            translation = translation + letter
    return translation
        
translate('abhishek')

'gbhgshgk'

In [127]:
'''
wcasefew 
'''
print('abhi')

abhi

In [ ]:
employee_file = open("employee.txt", "r")
print(employee_file.readable())
print(employee_file.read())
print(employee_file.readline())
print(employee_file.readlines()[1])

for emp in employee_file.readlines():
    print(emp)

employee_file.close()

In [ ]:
employee_file = open("employee.txt", "a")

employee_file.write("\nToby - Human Resources")
employee_file.close()